{% load static %}
<!DOCTYPE html>
<html style="font-size: 16px;">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <meta name="keywords" content="DCMTK - OFFIS DICOM Toolkit">
  <meta name="description" content="">
  <meta name="page_type" content="np-template-header-footer-from-plugin">
  <link rel="stylesheet" href="{% static 'Website/static/css/nicepage.css' %}" media="screen">
  <link rel="stylesheet" href="{% static 'Website/static/css/style.css' %}"" media=" screen">
  <script class="u-script" type="text/javascript" src="{% static 'Website/static/js/vendor/jquery/jquery.js' %}" defer=""></script>
  <script class="u-script" type="text/javascript" src="{% static 'Website/static/js/nicepage.js' %}" defer=""></script>
  <link id="u-theme-google-font" rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
  <script type="application/ld+json">{
      "@context": "http://schema.org",
      "@type": "Organization",
      "name": "",
      "logo": "images/DICOMLogo.jpg"
      }</script>
  <meta name="theme-color" content="#478ac9">
  <meta property="og:type" content="website">

  <title>Allgemeines</title>
  <link rel="stylesheet" href="{% static 'Website/static/css/Allgemeines.css' %}" media="screen">
  <meta property="og:title" content="Allgemeines">
</head>

{% include "Website/navbar.html" %}

<body data-home-page="Allgemeines.html" data-home-page-title="Allgemeines" class="u-body">
  <h2>Willkommen auf den Webseiten von dicom.offis.de</h2>
  <p>Auf diesen Webseiten stehen Ihnen sämtliche Informationen zu DICOM-Aktivitäten im Informatikinstitut OFFIS zur
    Verfügung. Wir haben uns bemüht, die Seiten möglichst übersichtlich zu gestalten. Anmerkungen zu diesen Seiten bitte
    per E-Mail an&nbsp;<img src="{% static 'images/email.gif' %}" alt="email" width="89" height="13"
      align="middle">&nbsp;senden.</p>
  <table cellspacing="10" cellpadding="0">
    <colgroup>
      <col width="120">
      <col width="530">
    </colgroup>
    <tr>
      <td valign="top"><a class="textlink" href="general.php.de">Allgemeines</a></td>
      <td valign="top">Informationen zu Standardisierung in der Medizin und Grundlagen des DICOM-Standards</td>
    </tr>
    <tr>
      <td valign="top"><a class="textlink" href="demos.php.de">DICOM-Demos</a></td>
      <td valign="top">Informationen zu DICOM-Demonstrationen auf Konferenzen und Tagungen</td>
    </tr>
    <tr>
      <td valign="top"><a class="textlink" href="software.php.de">DICOM-Software</a></td>
      <td valign="top">Informationen zu DICOM-Software made by OFFIS</td>
    </tr>
    <tr>
      <td valign="top"><a class="textlink" href="service.php.de">Dienstleistungen</a></td>
      <td valign="top">Informationen zu DICOM-spezifischen Dienstleistungen durch OFFIS</td>
    </tr>
    <tr>
      <td valign="top"><a class="textlink" href="links.php.de">Links</a></td>
      <td valign="top">Informationen zum Thema DICOM im World Wide Web</td>
    </tr>
    <tr>
      <td valign="top"><a class="textlink" href="contact.php.de">Kontakt</a></td>
      <td valign="top">Ansprechpartner im OFFIS zum Thema DICOM</td>
    </tr>
    <tr>
      <td valign="top"><a class="textlink" href="donation.php.de">Spenden</a></td>
      <td valign="top">Spenden per PayPal an das OFFIS DICOM-Team</td>
    </tr>
  </table>
  <div class="newsbox">

    <h2 class="lowerh2"><a name="news">Aktuelles</a></h2>
    <p style="margin-top:25px;">Neue Version 3.6.6 des DICOM-Toolkits <a class="textlink" href="dcmtk.php.de">DCMTK</a>
      verfügbar. Siehe <a class="textlink" href="http://dicom.offis.de/download/dcmtk/dcmtk366/ANNOUNCE">Ankündigung</a>
      für weitere Details.</p>
    <!-- Termine DICOM Schulungen -->
    <p style="margin-top:25px;">Nächste <a class="textlink" href="training.php.de">DICOM-Schulungen</a>:</p>
    <!-- <ul><li>DICOM-Intensivkurs 14.-15. Februar 2022, <b>online</b></li></ul>
          <ul><li>DICOM-Tools and -Troubleshooting 16.-17. Februar 2022, <b>online</b></li></ul>
          <ul><li>DICOM-Intensivkurs 09.-10. Mai 2022, je nach Pandemielage online oder in Präsenz</li></ul>
          <ul><li>DICOM-Intensivkurs 19.-20. September 2022, je nach Pandemielage online oder in Präsenz</li></ul>
          <ul><li>DICOM-Advanced 21.-22. September 2022, je nach Pandemielage online oder in Präsenz</li></ul>
    <ul><li>DICOM-Intensivkurs 14.-15. November 2022, je nach Pandemielage online oder in Präsenz</li></ul>-->

    <table cellpadding="0" cellspacing="10">
      <tbody>
        <tr>
          <td width="150">14.-15. Februar 2022</td>
          <td>
            <img src="{% static 'images/de.gif' %}" alt="Deutsch" height="10" width="16" />
            DICOM-Intensivkurs, <b>online</b>
          </td>
        </tr>
        <tr>
          <td width="150">16.-17. Februar 2022</td>
          <td>
            <img src="{% static 'images/de.gif' %}" alt="Deutsch" height="10" width="16" />
            DICOM-Tools und -Troubleshooting</a>, <b>online</b>
          </td>
        </tr>
        <tr>
          <td width="150">09.-10. Mai 2022</td>
          <td>
            <img src="{% static 'images/de.gif' %}" alt="Deutsch" height="10" width="16" />
            DICOM-Intensivkurs, je nach Pandemielage online oder in Präsenz
          </td>
        </tr>
        <tr>
          <td width="150">19.-20. September 2022</td>
          <td>
            <img src="{% static 'images/de.gif' %}" alt="Deutsch" height="10" width="16" />
            DICOM-Intensivkurs, je nach Pandemielage online oder in Präsenz
          </td>
        </tr>
        <tr>
          <td width="150">21.-22. September 2022</td>
          <td>
            <img src="{% static 'images/de.gif' %}" alt="Deutsch" height="10" width="16" />
            DICOM-Advanced, je nach Pandemielage online oder in Präsenz
          </td>
        </tr>
        <tr>
          <td width="150">14.-15. November 2022</td>
          <td>
            <img src="{% static 'images/de.gif' %}" alt="Deutsch" height="10" width="16" />
            DICOM-Intensivkurs, je nach Pandemielage online oder in Präsenz
          </td>
        </tr>
      </tbody>
    </table>

    <p style="margin-top:25px;">Nächste <a class="textlink" href="hl7train.php.de">HL7-Schulung</a>:</p>
    <!--<ul><li>HL7v2-Intensivkurs und -Troubleshooting 23.-24. Mai 2022, je nach Pandemielage online oder in Präsenz</li></ul>
    <ul><li>HL7v2-Intensivkurs und -Troubleshooting 16.-17. November 2022, je nach Pandemielage online oder in Präsenz</li></ul>-->
    <table cellpadding="0" cellspacing="10">
      <tbody>
        <tr>
          <td width="150">23.-24. Mai 2022</td>
          <td>
            <img src="{% static 'images/de.gif' %}" alt="Deutsch" height="10" width="16" />
            HL7v2-Intensivkurs und -Troubleshooting, je nach Pandemielage online oder in Präsenz
          </td>
        </tr>
        <tr>
          <td width="150">16.-17. November 2022</td>
          <td>
            <img src="{% static 'images/de.gif' %}" alt="Deutsch" height="10" width="16" />
            HL7v2-Intensivkurs und -Troubleshooting, je nach Pandemielage online oder in Präsenz
          </td>
        </tr>
      </tbody>
    </table>

    <p style="margin-top:25px;">Nächste <a class="textlink" href="ihetrain.php.de">IHE-Schulung</a>:</p>
    <table cellpadding="0" cellspacing="10">
      <tbody>
        <tr>
          <td width="150">11.-12. Mai 2022</td>
          <td>
            <img src="{% static 'images/de.gif' %}" alt="Deutsch" height="10" width="16" />
            Patientenakten mit IHE, je nach Pandemielage online oder in Präsenz
          </td>
        </tr>
      </tbody>
    </table>


    <p style="margin-top:25px;">Bei allen Schulungskursen: Frühbucherrabatt bei Anmeldung bis 4 Wochen vor dem Schulungstermin!</p>
    <!--
      <p style="margin-top:25px;">Nächste <a class="textlink" href="ihetrain.php.de">IHE-Schulung</a>:</p>
      <ul><li>IHE XDS-Schulung am 26. und 27. Mai 2010 in Thun (Schweiz)</li></ul>
      <p>Die Schulung wird in Kooperation mit der <a href="http://www.medshare.ch/"><b></b>medshare GmbH</a> (Schweiz) durchgeführt.</p>
      <p style="margin-top:25px;"><img src="{% static 'images/new.gif' %}" alt="new" width="28" height="11">&nbsp;&nbsp;Aktueller <a class="textlink" href="dcmtk.php.de#snapshot">Snapshot</a> des DCMTK im Quelltext verfügbar</p>
      -->
  </div>
  <div class="dicomlogo">
    <img src="{% static 'images/dicomlogo.gif' %}" alt="DICOM logo" width="330" height="88">
  </div>
</body>

{% include "Website/footer.html" %}

</html>