{% load static %}
<header class=" u-clearfix u-header u-header" id="sec-0efc" data-animation-name="" data-animation-duration="0"
  data-animation-delay="0" data-animation-direction="">
  <div class="wrapper3">
    <div class="wrapper2">

      <a href="https://www.offis.de/"><img class="shadow brand-logo" src="{% static 'images/OFFIS_Whitebackground.png' %}"
          height="100px"></a>
      <a href="/Home"><img class="shadow brand-logo" src="{% static 'images/DCMTK.svg' %}" height="100px"></a>
    </div>
    <div class="wrapper1">
      <div>
      </div>
      <span class="brand-title">DCMTK<span class="brand-subtitle"> - OFFIS DICOM Toolkit</span></span>
    </div>
    <img src="{% static 'images/Flagge_englisch.png' %}" height="25px"></img>
  </div>
  <!--  </a><h1 class="u-text u-text-default u-text-1">DCMTK - OFFIS DICOM Toolkit</h1></div>-->
  <nav class=" u-menu u-menu-dropdown u-offcanvas u-menu-1" data-position="right">
    <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px;">
      <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
        href="#">
        <svg viewBox="0 0 24 24">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use>
        </svg>
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <defs>
            <symbol id="menu-hamburger" viewBox="0 0 16 16" style="width: 16px; height: 16px;">
              <rect y="1" width="16" height="2"></rect>
              <rect y="7" width="16" height="2"></rect>
              <rect y="13" width="16" height="2"></rect>
            </symbol>
          </defs>
        </svg>
      </a>
    </div>
    <img class="icon" src="{% static 'images/Flagge_englisch.png' %}" height="25px"></img>
    <div class="u-align-center">
      <div class="u-custom-menu u-nav-container">
        <ul class="u-nav u-unstyled u-nav-1">
          <li class="u-nav-item"><a
              class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="/Home"
              style="padding: 10px 44px;">Home</a>
          </li>
          <li class="u-nav-item"><a
              class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
              href="/Allgemeines" style="padding: 10px 44px;">Allgemeines</a>
            <div class="u-nav-popup">
              <ul class="u-h-spacing-45 u-nav u-unstyled u-v-spacing-12 u-nav-2">
                <li class="u-nav-item">
                  <div class="styled-button4"><a
                      class="u-button-style u-white-0 u-nav-link u-text-black" href="/Allgemeines/Standardisierung">Standardisierung</a>
                  </div>
                </li>

                <li class="u-nav-item">
                  <div class="styled-button4"><a
                      class="u-button-style u-white-0 u-nav-link u-text-black" href="/Allgemeines/DICOM-Einführung" >DICOM-Einführung</a>
                  </div>
                </li>
              </ul>
            </div>
          </li>
          <li class="u-nav-item"><a
              class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="/DCMTK"
              style="padding: 10px 44px;">DCMTK</a>
            <div class="u-nav-popup">
              <ul class="u-h-spacing-45 u-nav u-unstyled u-v-spacing-12 u-nav-3">
                <li class="u-nav-item">
                  <div class="styled-button4"><a
                      class="u-button-style u-white-0 u-nav-link u-text-black" href="/DCMTK/DCMTK-Einführung" >DCMTK-Einführung</a>
                  </div>
                </li>
                <li class="u-nav-item">
                  <div class="styled-button4"><a
                      class="u-button-style u-white-0 u-nav-link u-text-black" href="/DCMTK/DCMTK-Tools" >DCMTK-Tools</a>
                  </div>
                </li>
                <li class="u-nav-item">
                  <div class="styled-button4"><a
                      class="u-button-style u-white-0 u-nav-link u-text-black" href="/DCMTK/Softwareentwicklung_mit_DCMTK" >Softwareentwicklung mit DCMTK</a>
                  </div>
                </li>
                <li class="u-nav-item">
                  <div class="styled-button4"><a class="u-button-style u-white-0 u-nav-link u-text-black" href="/DCMTK/Support" >Support</a>
                  </div>
                </li>
                <li class="u-nav-item">
                  <div class="styled-button4"><a class="u-button-style u-white-0 u-nav-link u-text-black" href="/DCMTK/Spenden" >Spenden</a>
                  </div>
                </li>
              </ul>
            </div>
          </li>
          <li class="u-nav-item"><a
              class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
              href="/DCMTK-Erweiterungsmodule" style="padding: 10px 44px;">DCMTK-Erweiterungsmodule</a>
            <div class="u-nav-popup">
              <ul class="u-h-spacing-45 u-nav u-unstyled u-v-spacing-12 u-nav-4">
                <li class="u-nav-item"><div class="styled-button4"><a class="u-button-style u-white-0 u-nav-link u-text-black" href="/DCMTK-Erweiterungsmodule/DCMPRINT" >DCMPRINT</a></div>
                </li>
                <li class="u-nav-item"><div class="styled-button4"><a class="u-button-style u-white-0 u-nav-link u-text-black" href="/DCMTK-Erweiterungsmodule/DCMJP2K" >DCMJP2K</a></div>
                </li>
                <li class="u-nav-item"><div class="styled-button4"><a class="u-button-style u-white-0 u-nav-link u-text-black" href="/DCMTK-Erweiterungsmodule/DCMPPS" >DCMPPS</a></div>
                </li>
                <li class="u-nav-item"><div class="styled-button4"><a class="u-button-style u-white-0 u-nav-link u-text-black" href="/DCMTK-Erweiterungsmodule/DCMPPSCU" >DCMPPSCU</a></div>
                </li>
                <li class="u-nav-item"><div class="styled-button4"><a class="u-button-style u-white-0 u-nav-link u-text-black" href="/DCMTK-Erweiterungsmodule/PPSMGR" >PPSMGR</a></div>
                </li>
                <li class="u-nav-item"><div class="styled-button4"><a class="u-button-style u-white-0 u-nav-link u-text-black" href="/DCMTK-Erweiterungsmodule/DCMSTCOM" >DCMSTCOM</a></div>
                </li>
                <li class="u-nav-item"><div class="styled-button4"><a class="u-button-style u-white-0 u-nav-link u-text-black" href="/DCMTK-Erweiterungsmodule/Testversionen" >Testversionen</a></div>
                </li>
              </ul>
            </div>
          </li>
          <li class="u-nav-item"><a
              class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
              href="/DICOMscope" style="padding: 10px 44px;">DICOMscope</a>
          </li>
          <li class="u-nav-item"><a
              class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
              href="/Dienstleistungen" style="padding: 10px 44px;">Dienstleistungen</a>
            <div class="u-nav-popup">
              <ul class="u-h-spacing-45 u-nav u-unstyled u-v-spacing-12 u-nav-5">
                <li class="u-nav-item"><div class="styled-button4"><a class="u-button-style u-white-0 u-nav-link u-text-black" href="/Dienstleistungen/DICOM-Beratung" >DICOM-Beratung</a></div>
                </li>
                <li class="u-nav-item"><div class="styled-button4"><a class="u-button-style u-white-0 u-nav-link u-text-black" href="/Dienstleistungen/DICOM-Schulung" >DICOM-Schulung</a></div>
                </li>
                <li class="u-nav-item"><div class="styled-button4"><a class="u-button-style u-white-0 u-nav-link u-text-black" href="/Dienstleistungen/IHE-Schulung" >IHE-Schulung</a></div>
                </li>
                <li class="u-nav-item"><div class="styled-button4"><a class="u-button-style u-white-0 u-nav-link u-text-black" href="/Dienstleistungen/HL7-Schulung" >HL7-Schulung</a></div>
                </li>
              </ul>
            </div>
          </li>
          <li class="u-nav-item"><a
              class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="/Kontakt"
              style="padding: 10px 44px;">Kontakt</a>
            <div class="u-nav-popup">
              <ul class="u-h-spacing-45 u-nav u-unstyled u-v-spacing-12 u-nav-6">
          </li>
          <li class="u-nav-item"><div class="styled-button4"><a class="u-button-style u-white-0 u-nav-link u-text-black" href="/Kontakt/Ansprechpartner" >Ansprechpartner</a></div>
          </li>
        </ul>
      </div>
      </li>
      </ul>
    </div>
    <div class="u-custom-menu u-nav-container-collapse">
      <div class="u-blue-0 u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
        <div class="u-inner-container-layout u-sidenav-overflow">
          <div class="u-menu-close"></div>
          <ul class="u-align-left u-nav u-popupmenu-itemsc u-nav-7">
            <li class="u-nav-item"><a class="u-button-style u-border-10 u-nav-link u-text-white" style="text-indent: 20px;" href="/Home">Home</a>
            </li>
            <li class="u-nav-item"><a class="u-button-style u-border-10 u-nav-link u-text-white" style="text-indent: 20px;" href="/Allgemeines">Allgemeines</a>
              <div class="u-nav-popup">
                <ul class="u-h-spacing-45 u-nav  u-v-spacing-12 u-nav-8">
                  <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-white" style="text-indent: 5px;" href="/Allgemeines" >Überblick</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-white" style="text-indent: 5px;" href="/Allgemeines/Standardisierung" >Standardisierung</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-white" style="text-indent: 5px;" href="/Allgemeines/DICOM-Einführung" >DICOM-Einführung</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="u-nav-item"><a class="u-button-style u-border-10 u-nav-link u-text-white" style="text-indent: 20px;" href="/DCMTK">DCMTK</a>
              <div class="u-nav-popup">
                <ul class="u-h-spacing-45 u-nav u-v-spacing-12 u-nav-9">
                  <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-white" style="text-indent: 5px;" href="/DCMTK" >Überblick</a>
                  </li>
                  <li class="u-nav-item">
                  <a class="u-button-style u-nav-link u-text-white" style="text-indent: 5px;" href="/DCMTK/DCMTK-Einführung" >DCMTK-Einführung</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-white" style="text-indent: 5px;" href="/DCMTK/DCMTK-Tools" >DCMTK-Tools</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-white" style="text-indent: 5px;" href="/DCMTK/Softwareentwicklung_mit_DCMTK" >Softwareentwicklung mit
                      DCMTK</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-white" style="text-indent: 5px;" href="/DCMTK/Support" >Support</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-white" style="text-indent: 5px;" href="/DCMTK/Spenden" >Spenden</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="u-nav-item"><a class="u-button-style u-border-10 u-nav-link u-text-white" style="text-indent: 20px;" href="/DCMTK-Erweiterungsmodule"> 
                DCMTK-Erweiterungsmodule</a>
              <div class="u-nav-popup">
                <ul class="u-h-spacing-45 u-nav u-v-spacing-12 u-nav-10">
                  <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-white" style="text-indent: 5px;" href="/DCMTK-Erweiterungsmodule" >Überblick</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-white" style="text-indent: 5px;" href="/DCMTK-Erweiterungsmodul/DCMPRINT" >DCMPRINT</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-white" style="text-indent: 5px;" href="/DCMTK-Erweiterungsmodule/DCMJP2K" >DCMJP2K</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-white" style="text-indent: 5px;" href="/DCMTK-Erweiterungsmodule/DCMPPS" >DCMPPS</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-white" style="text-indent: 5px;" href="/DCMTK-Erweiterungsmodule/DCMPPSCU" >DCMPPSCU</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-white" style="text-indent: 5px;" href="/DCMTK-Erweiterungsmodule/PPSMGR" >PPSMGR</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-white" style="text-indent: 5px;" href="/DCMTK-Erweiterungsmodule/DCMTCOM" >DCMSTCOM</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-white" style="text-indent: 5px;" href="/DCMTK-Erweiterungsmodule/Testversionen" >Testversionen</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="u-nav-item"><a class="u-button-style u-border-10 u-nav-link u-text-white" style="text-indent: 20px;" href="/DICOMscope" >DICOMscope</a>
            </li>
            <li class="u-nav-item"><a class="u-button-style u-border-10 u-nav-link u-text-white" style="text-indent: 20px;" >Dienstleistungen</a>
              <div class="u-nav-popup">
                <ul class="u-h-spacing-45 u-nav u-v-spacing-12 u-nav-11">
                  <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-white" style="text-indent: 5px;" href="/Dienstleistungen" >Überblick</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-white" style="text-indent: 5px;" href="/Dienstleistungen/DICOM-Beratung" >DICOM-Beratung</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-white" style="text-indent: 5px;" href="/Dienstleistungen/DICOM-Schulung" >DICOM-Schulung</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-white" style="text-indent: 5px;" href="/Dienstleistungen/IHE-Schulung<" >IHE-Schulung</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-white" style="text-indent: 5px;" href="/Dienstleistungen/HL7-Schulung" >HL7-Schulung</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="u-nav-item"><a class="u-button-style u-border-10 u-nav-link u-text-white" style="text-indent: 20px;">Kontakt</a>
              <div class="u-nav-popup">
                <ul class="u-h-spacing-45 u-nav u-v-spacing-12 u-nav-12">
                  <li class="u-nav-item">
                    <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-white" style="text-indent: 5px;" href="/Kontakt" >Überblick</a>
                    </li>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-white" style="text-indent: 5px;" href="/Kontakt/Ansprechpartner" >Ansprechpartner</a>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="u-black u-menu-overlay u-opacity u-opacity-70">
      </div>
    </div>
  </nav>
</header>
